<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anson.dao.CpRelationMapper">
  <resultMap id="BaseResultMap" type="com.anson.model.CpRelation">
    <id column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_name" jdbcType="VARCHAR" property="relationName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="status_cd" jdbcType="TINYINT" property="statusCd" />
    <result column="male_user_id" jdbcType="BIGINT" property="maleUserId" />
    <result column="female_user_id" jdbcType="BIGINT" property="femaleUserId" />
    <result column="relation_days" jdbcType="BIGINT" property="relationDays" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    relation_id, relation_name, create_date, update_date, status_cd, male_user_id, female_user_id, 
    relation_days, create_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cp_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cp_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anson.model.CpRelation">
    insert into cp_relation (relation_id, relation_name, create_date, 
      update_date, status_cd, male_user_id, 
      female_user_id, relation_days, create_user
      )
    values (#{relationId,jdbcType=BIGINT}, #{relationName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{statusCd,jdbcType=TINYINT}, #{maleUserId,jdbcType=BIGINT}, 
      #{femaleUserId,jdbcType=BIGINT}, #{relationDays,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anson.model.CpRelation">
    insert into cp_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="relationName != null">
        relation_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="maleUserId != null">
        male_user_id,
      </if>
      <if test="femaleUserId != null">
        female_user_id,
      </if>
      <if test="relationDays != null">
        relation_days,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationName != null">
        #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="maleUserId != null">
        #{maleUserId,jdbcType=BIGINT},
      </if>
      <if test="femaleUserId != null">
        #{femaleUserId,jdbcType=BIGINT},
      </if>
      <if test="relationDays != null">
        #{relationDays,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anson.model.CpRelation">
    update cp_relation
    <set>
      <if test="relationName != null">
        relation_name = #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="maleUserId != null">
        male_user_id = #{maleUserId,jdbcType=BIGINT},
      </if>
      <if test="femaleUserId != null">
        female_user_id = #{femaleUserId,jdbcType=BIGINT},
      </if>
      <if test="relationDays != null">
        relation_days = #{relationDays,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anson.model.CpRelation">
    update cp_relation
    set relation_name = #{relationName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      status_cd = #{statusCd,jdbcType=TINYINT},
      male_user_id = #{maleUserId,jdbcType=BIGINT},
      female_user_id = #{femaleUserId,jdbcType=BIGINT},
      relation_days = #{relationDays,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT}
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.anson.model.CpRelation">
    <id column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_name" jdbcType="VARCHAR" property="relationName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="status_cd" jdbcType="TINYINT" property="statusCd" />
    <result column="male_user_id" jdbcType="BIGINT" property="maleUserId" />
    <result column="female_user_id" jdbcType="BIGINT" property="femaleUserId" />
    <result column="relation_days" jdbcType="BIGINT" property="relationDays" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    relation_id, relation_name, create_date, update_date, status_cd, male_user_id, female_user_id, 
    relation_days, create_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cp_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cp_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anson.model.CpRelation">
    insert into cp_relation (relation_id, relation_name, create_date, 
      update_date, status_cd, male_user_id, 
      female_user_id, relation_days, create_user
      )
    values (#{relationId,jdbcType=BIGINT}, #{relationName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{statusCd,jdbcType=TINYINT}, #{maleUserId,jdbcType=BIGINT}, 
      #{femaleUserId,jdbcType=BIGINT}, #{relationDays,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anson.model.CpRelation">
    insert into cp_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="relationName != null">
        relation_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="maleUserId != null">
        male_user_id,
      </if>
      <if test="femaleUserId != null">
        female_user_id,
      </if>
      <if test="relationDays != null">
        relation_days,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationName != null">
        #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="maleUserId != null">
        #{maleUserId,jdbcType=BIGINT},
      </if>
      <if test="femaleUserId != null">
        #{femaleUserId,jdbcType=BIGINT},
      </if>
      <if test="relationDays != null">
        #{relationDays,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anson.model.CpRelation">
    update cp_relation
    <set>
      <if test="relationName != null">
        relation_name = #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="maleUserId != null">
        male_user_id = #{maleUserId,jdbcType=BIGINT},
      </if>
      <if test="femaleUserId != null">
        female_user_id = #{femaleUserId,jdbcType=BIGINT},
      </if>
      <if test="relationDays != null">
        relation_days = #{relationDays,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anson.model.CpRelation">
    update cp_relation
    set relation_name = #{relationName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      status_cd = #{statusCd,jdbcType=TINYINT},
      male_user_id = #{maleUserId,jdbcType=BIGINT},
      female_user_id = #{femaleUserId,jdbcType=BIGINT},
      relation_days = #{relationDays,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT}
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.anson.model.CpRelation">
    <id column="relation_id" jdbcType="BIGINT" property="relationId" />
    <result column="relation_name" jdbcType="VARCHAR" property="relationName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="status_cd" jdbcType="TINYINT" property="statusCd" />
    <result column="male_user_id" jdbcType="BIGINT" property="maleUserId" />
    <result column="female_user_id" jdbcType="BIGINT" property="femaleUserId" />
    <result column="relation_days" jdbcType="BIGINT" property="relationDays" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    relation_id, relation_name, create_date, update_date, status_cd, male_user_id, female_user_id, 
    relation_days, create_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cp_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cp_relation
    where relation_id = #{relationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anson.model.CpRelation">
    insert into cp_relation (relation_id, relation_name, create_date, 
      update_date, status_cd, male_user_id, 
      female_user_id, relation_days, create_user
      )
    values (#{relationId,jdbcType=BIGINT}, #{relationName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{statusCd,jdbcType=TINYINT}, #{maleUserId,jdbcType=BIGINT}, 
      #{femaleUserId,jdbcType=BIGINT}, #{relationDays,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anson.model.CpRelation">
    insert into cp_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="relationName != null">
        relation_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="maleUserId != null">
        male_user_id,
      </if>
      <if test="femaleUserId != null">
        female_user_id,
      </if>
      <if test="relationDays != null">
        relation_days,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relationId != null">
        #{relationId,jdbcType=BIGINT},
      </if>
      <if test="relationName != null">
        #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="maleUserId != null">
        #{maleUserId,jdbcType=BIGINT},
      </if>
      <if test="femaleUserId != null">
        #{femaleUserId,jdbcType=BIGINT},
      </if>
      <if test="relationDays != null">
        #{relationDays,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anson.model.CpRelation">
    update cp_relation
    <set>
      <if test="relationName != null">
        relation_name = #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="maleUserId != null">
        male_user_id = #{maleUserId,jdbcType=BIGINT},
      </if>
      <if test="femaleUserId != null">
        female_user_id = #{femaleUserId,jdbcType=BIGINT},
      </if>
      <if test="relationDays != null">
        relation_days = #{relationDays,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
    </set>
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anson.model.CpRelation">
    update cp_relation
    set relation_name = #{relationName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      status_cd = #{statusCd,jdbcType=TINYINT},
      male_user_id = #{maleUserId,jdbcType=BIGINT},
      female_user_id = #{femaleUserId,jdbcType=BIGINT},
      relation_days = #{relationDays,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT}
    where relation_id = #{relationId,jdbcType=BIGINT}
  </update>
</mapper>