<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anson.dao.CpUserMapper">
  <resultMap id="BaseResultMap" type="com.anson.model.CpUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="wx_id" jdbcType="VARCHAR" property="wxId" />
    <result column="status_cd" jdbcType="TINYINT" property="statusCd" />
    <result column="user_gender" jdbcType="TINYINT" property="userGender" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, nick_name, phone_number, create_date, update_date, wx_id, status_cd, 
    user_gender, user_birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anson.model.CpUser">
    insert into cp_user (user_id, user_name, nick_name, 
      phone_number, create_date, update_date, 
      wx_id, status_cd, user_gender, 
      user_birthday)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{wxId,jdbcType=VARCHAR}, #{statusCd,jdbcType=TINYINT}, #{userGender,jdbcType=TINYINT}, 
      #{userBirthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.anson.model.CpUser">
    insert into cp_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="wxId != null">
        wx_id,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wxId != null">
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anson.model.CpUser">
    update cp_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wxId != null">
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anson.model.CpUser">
    update cp_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      wx_id = #{wxId,jdbcType=VARCHAR},
      status_cd = #{statusCd,jdbcType=TINYINT},
      user_gender = #{userGender,jdbcType=TINYINT},
      user_birthday = #{userBirthday,jdbcType=DATE}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.anson.model.CpUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="wx_id" jdbcType="VARCHAR" property="wxId" />
    <result column="status_cd" jdbcType="TINYINT" property="statusCd" />
    <result column="user_gender" jdbcType="TINYINT" property="userGender" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, nick_name, phone_number, create_date, update_date, wx_id, status_cd, 
    user_gender, user_birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anson.model.CpUser">
    insert into cp_user (user_id, user_name, nick_name, 
      phone_number, create_date, update_date, 
      wx_id, status_cd, user_gender, 
      user_birthday)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{wxId,jdbcType=VARCHAR}, #{statusCd,jdbcType=TINYINT}, #{userGender,jdbcType=TINYINT}, 
      #{userBirthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.anson.model.CpUser">
    insert into cp_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="wxId != null">
        wx_id,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wxId != null">
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anson.model.CpUser">
    update cp_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wxId != null">
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anson.model.CpUser">
    update cp_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      wx_id = #{wxId,jdbcType=VARCHAR},
      status_cd = #{statusCd,jdbcType=TINYINT},
      user_gender = #{userGender,jdbcType=TINYINT},
      user_birthday = #{userBirthday,jdbcType=DATE}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.anson.model.CpUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="wx_id" jdbcType="VARCHAR" property="wxId" />
    <result column="status_cd" jdbcType="TINYINT" property="statusCd" />
    <result column="user_gender" jdbcType="TINYINT" property="userGender" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, nick_name, phone_number, create_date, update_date, wx_id, status_cd, 
    user_gender, user_birthday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cp_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.anson.model.CpUser">
    insert into cp_user (user_id, user_name, nick_name, 
      phone_number, create_date, update_date, 
      wx_id, status_cd, user_gender, 
      user_birthday)
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{wxId,jdbcType=VARCHAR}, #{statusCd,jdbcType=TINYINT}, #{userGender,jdbcType=TINYINT}, 
      #{userBirthday,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.anson.model.CpUser">
    insert into cp_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="wxId != null">
        wx_id,
      </if>
      <if test="statusCd != null">
        status_cd,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="userBirthday != null">
        user_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wxId != null">
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anson.model.CpUser">
    update cp_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wxId != null">
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
        status_cd = #{statusCd,jdbcType=TINYINT},
      </if>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=TINYINT},
      </if>
      <if test="userBirthday != null">
        user_birthday = #{userBirthday,jdbcType=DATE},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anson.model.CpUser">
    update cp_user
    set user_name = #{userName,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      wx_id = #{wxId,jdbcType=VARCHAR},
      status_cd = #{statusCd,jdbcType=TINYINT},
      user_gender = #{userGender,jdbcType=TINYINT},
      user_birthday = #{userBirthday,jdbcType=DATE}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>